@model PWA_Test.Models.Case

<div>
    <h4>Case</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.link)
        </dt>

        <dd>
            <a href=@Html.DisplayFor(model => model.link)>@Html.DisplayFor(model => model.link)</a>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to the appointments List", "Index")
</p>
