@{
    ViewBag.Title = "Home Page";
}

<div class="center2">
    <form action="@Url.Action("Index", "DesktopCases")">
        <input class="desktopbtn" type="submit" value="Desktop Cases" />
    </form>
</div>
