<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Comparisons incomplete</title>
</head>
<body>
    <h2>Comparisons incomplete</h2>

    <p>
        The comparisons against this property requires to be completed.
    </p>

    <p>
        @Html.ActionLink("Back to the case property details", "Details", "DesktopCases", new { id = ViewData["Id"] }, null)
    </p>
</body>
</html>
