@model IEnumerable<PWA_Test.Models.Comparable>
@{
    ViewBag.Title = "Comparables List";
}
<div>
    <h4>Comparables List</h4>
    <hr />
    @foreach (var item in Model)
    {
        <dl class="dl-horizontal">
            <dd>
                @Html.ActionLink(Html.DisplayNameFor(model => model.rank) + item.rank, "Details", new { rank=item.rank })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.postcode)
            </dt>
            <dd>
                @Html.DisplayFor(model => item.postcode)
            </dd>
        </dl>
    }
</div>
