<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Property not found</title>
    </head>
    <body>
        <h1>Error</h1>
        <h2>The property is not found.</h2>

        <p>
            @Html.ActionLink("Back to the Comparables List", "Index")
        </p>
    </body>
</html>