<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>This application is offline/disconnected</title>
</head>
<body>
    This application is offline/disconnected, it will be back online once internet connectivity has been established.

    Click @Html.ActionLink("here", "Index", "Home") to go back to the home page.
</body>
</html>