<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>This application is offline</title>
</head>
<body>
    This application is offline, it will be back online once internet connectivity has been established.
</body>
</html>