body {
    background-image: url(images/icons/BGTimeline.png);
    background-repeat: no-repeat;
    background-size: 100vw;
    margin-top: 25px;
    background-color: #00213d;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}

#map {
    height: 100%;
}

/* This css is to ensure that the google map contols (zoom bar etc) show and size correctly. */
#map_canvas img {
    max-width: none
}

/* This css is to give a nice big popup "info window" when a marker is clicked on the map */
.infoDiv {
    height: 200px;
    width: 300px;
    -webkit-user-select: none;
    background-color: white;
    color: black !important;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Example of a link CSS */
a.link-icon {
    display: block;
    height: 32px;
    width: 33px;
    background: url('images/icons/house-icon-32x33.png');
}

.table a {
    color: black
}

.center2 {
    width: 25%;
    height: 30%;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: table-cell;
    vertical-align: middle;
}

.casesbtn {
    -webkit-appearance: none;
    background-color: #12759c;
    line-height: 22px;
    border-radius: 15px;
    border: none;
    margin: 0 auto;
    font-size: 16px;
    margin-right: 10px;
    font-weight: 600;
    color: white;
    white-space: normal;
    float: left;
    padding: 10px 30px;
}

.desktopbtn {
    -webkit-appearance: none;
    background-color: #12759c;
    border-radius: 15px;
    border: none;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 600;
    color: white;
    white-space: normal;
    padding: 30px 50px;
    outline: none;
}

    .desktopbtn:hover, .casesbtn:hover {
        border: 1px solid #48bbde;
        box-shadow: 0 0.4em 0.5em -0.4em #48bbde;
        transform: translateY(-0.25em);
        background-color: #193d61;
        color: #48bbde;
    }

    .desktopbtn:focus, .casesbtn:focus {
        outline: none;
    }

.left-tables {
    position: absolute;
    width: 50%;
    height: 60%;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: table-cell;
    vertical-align: middle;
}

.bar1 {
    width: 100%;
    background-color: #12759c;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-top: 3px solid #48bbde;
    border-right: 4px solid #48bbde;
    font-size: 16px;
    font-weight: 600;
    border-top-right-radius: 15px;
}

.minustable {
    cursor: pointer;
}


.table {
    width: 100%;
    margin-bottom: 25px;
}

    .table th {
        color: #48bbde;
        background-color: #193d61;
        font-size: 14px;
        letter-spacing: 0em;
        font-weight: 600;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }


    .table td {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #dedede;
        color: #193d61;
        font-size: 12px;
        letter-spacing: 0em;
        font-weight: 600;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }

    .table td:nth-child(6) {
        display: none;
    }
        .table th:nth-child(6) {
            display: none;
        }

    .table tr {
        background-color: #f1f1f1
    }

        .table tr:hover {
            background-color: #dedede;
            cursor: pointer
        }

        .tableNC tr:hover {
            cursor: default
        }

.desktop-table {
    width: 100%;
    margin-bottom: 25px;
}

    .desktop-table th {
        color: #48bbde;
        background-color: #193d61;
        font-size: 16px;
        letter-spacing: 0em;
        font-weight: 600;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }



    .desktop-table td {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #dedede;
        color: #193d61;
        font-size: 13px;
        letter-spacing: 0em;
        font-weight: 600;
        padding-left: 20px;
        padding-right: 20px;
        text-align: left;
    }

        .desktop-table td:nth-child(1) {
            font-size: 13px;
            background-color: #f1f1f1;
            border-right: 3px solid #87a0ac;
            width: 45%;
            padding-left: 10px;
            padding-right: 5px;
        }

        .desktop-table td:nth-child(2) {
            background-color: #faf9fa;
        }


    .desktop-table tr {
        background-color: #f1f1f1
    }

a {
    color: white;
}

    a:hover {
        color: #4ebade;
        cursor: pointer;
        text-decoration: none;
    }


.overall {
    position: absolute;
    width: 70%;
    height: 70%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.column1 {
    width: 45%;
    background-color: #0a4b7a;
    height: 100%;
    position: relative;
    border-bottom-left-radius: 25px;
}

.column2 {
    position: absolute;
    float: right;
    top: 48px;
    right: 0;
    background-color: #0a3151;
    width: 55%;
    border-bottom-right-radius: 25px;
    height: 100%;
}

.property-info {
    width: 100%;
    height: 28%;
    background-color: #0a4b7a;
    top: 0;
    left: 0;
    text-align: center;
}

.backtolist {
    width: 100%;
    height: 20%;
    position: absolute;
    background-color: #0a4b7a;
    margin-top: 10px;
    left: 0;
    text-align: center;
}

.title {
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    color: #48bbde;
    font-weight: 600;
    margin-bottom: 0px;
}

.title1 {
    transform: rotate(90deg);
    padding-top: 10px;
    white-space: nowrap;
    margin: 0 auto;
    font-size: 18px;
    color: #48bbde;
    font-weight: 600;
    margin-bottom: 0px;
}

.reference {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
.value {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.title2 {
    padding-top: 5px;
    text-align: center;
    font-size: 18px;
    color: #48bbde;
    font-weight: 600;
    margin-bottom: 0px;
}




.row {
    height: 20%;
    width: 100%;
    margin-left: 1px;
}

.left {
    padding-top: 10px;
    float: left;
    width: 50%;
    height: 100%;
    background-color: #0c4168;
    position: relative;
    text-align: center;
}



.right {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
    float: right;
    top: 0px;
    height: 100%;
    background-color: #083759;
    text-align: center;
}


.left1 {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    width: 50%;
    height: 100%;
    float: left;
    background-color: #083759;
    -webkit-box-shadow: 0 4px 6px -6px black;
    -moz-box-shadow: 0 4px 6px -6px black;
    box-shadow: 0 4px 6px -6px black;
    position: relative;
    text-align: center;
}

.right1 {
    padding-top: 10px;
    width: 50%;
    float: right;
    top: 0px;
    height: 100%;
    background-color: #0c4168;
    -webkit-box-shadow: 0 4px 6px -6px black;
    -moz-box-shadow: 0 4px 6px -6px black;
    box-shadow: 0 4px 6px -6px black;
    text-align: center;
}

